neo4jdata/data/server_id
neo4jdata/data/databases/store_lock
neo4jdata/data/databases/neo4j/database_lock
neo4jdata/data/databases/neo4j/id-buffer.tmp.0
neo4jdata/data/databases/neo4j/neostore
neo4jdata/data/databases/neo4j/neostore.counts.db
neo4jdata/data/databases/neo4j/neostore.indexstats.db
neo4jdata/data/databases/neo4j/neostore.labeltokenstore.db
neo4jdata/data/databases/neo4j/neostore.labeltokenstore.db.id
neo4jdata/data/databases/neo4j/neostore.labeltokenstore.db.names
neo4jdata/data/databases/neo4j/neostore.labeltokenstore.db.names.id
neo4jdata/data/databases/neo4j/neostore.nodestore.db
neo4jdata/data/databases/neo4j/neostore.nodestore.db.id
neo4jdata/data/databases/neo4j/neostore.nodestore.db.labels
neo4jdata/data/databases/neo4j/neostore.nodestore.db.labels.id
neo4jdata/data/databases/neo4j/neostore.propertystore.db
neo4jdata/data/databases/neo4j/neostore.propertystore.db.arrays
neo4jdata/data/databases/neo4j/neostore.propertystore.db.arrays.id
neo4jdata/data/databases/neo4j/neostore.propertystore.db.id
neo4jdata/data/databases/neo4j/neostore.propertystore.db.index
neo4jdata/data/databases/neo4j/neostore.propertystore.db.index.id
neo4jdata/data/databases/neo4j/neostore.propertystore.db.index.keys
neo4jdata/data/databases/neo4j/neostore.propertystore.db.index.keys.id
neo4jdata/data/databases/neo4j/neostore.propertystore.db.strings
neo4jdata/data/databases/neo4j/neostore.propertystore.db.strings.id
neo4jdata/data/databases/neo4j/neostore.relationshipgroupstore.db
neo4jdata/data/databases/neo4j/neostore.relationshipgroupstore.db.id
neo4jdata/data/databases/neo4j/neostore.relationshipgroupstore.degrees.db
neo4jdata/data/databases/neo4j/neostore.relationshipstore.db
neo4jdata/data/databases/neo4j/neostore.relationshipstore.db.id
neo4jdata/data/databases/neo4j/neostore.relationshiptypestore.db
neo4jdata/data/databases/neo4j/neostore.relationshiptypestore.db.id
neo4jdata/data/databases/neo4j/neostore.relationshiptypestore.db.names
neo4jdata/data/databases/neo4j/neostore.relationshiptypestore.db.names.id
neo4jdata/data/databases/neo4j/neostore.schemastore.db
neo4jdata/data/databases/neo4j/neostore.schemastore.db.id
neo4jdata/data/databases/neo4j/schema/index/token-lookup-1.0/1/index-1
neo4jdata/data/databases/neo4j/schema/index/token-lookup-1.0/2/index-2
neo4jdata/data/databases/system/database_lock
neo4jdata/data/databases/system/id-buffer.tmp.0
neo4jdata/data/databases/system/neostore
neo4jdata/data/databases/system/neostore.counts.db
neo4jdata/data/databases/system/neostore.indexstats.db
neo4jdata/data/databases/system/neostore.labeltokenstore.db
neo4jdata/data/databases/system/neostore.labeltokenstore.db.id
neo4jdata/data/databases/system/neostore.labeltokenstore.db.names
neo4jdata/data/databases/system/neostore.labeltokenstore.db.names.id
neo4jdata/data/databases/system/neostore.nodestore.db
neo4jdata/data/databases/system/neostore.nodestore.db.id
neo4jdata/data/databases/system/neostore.nodestore.db.labels
neo4jdata/data/databases/system/neostore.nodestore.db.labels.id
neo4jdata/data/databases/system/neostore.propertystore.db
neo4jdata/data/databases/system/neostore.propertystore.db.arrays
neo4jdata/data/databases/system/neostore.propertystore.db.arrays.id
neo4jdata/data/databases/system/neostore.propertystore.db.id
neo4jdata/data/databases/system/neostore.propertystore.db.index
neo4jdata/data/databases/system/neostore.propertystore.db.index.id
neo4jdata/data/databases/system/neostore.propertystore.db.index.keys
neo4jdata/data/databases/system/neostore.propertystore.db.index.keys.id
neo4jdata/data/databases/system/neostore.propertystore.db.strings
neo4jdata/data/databases/system/neostore.propertystore.db.strings.id
neo4jdata/data/databases/system/neostore.relationshipgroupstore.db
neo4jdata/data/databases/system/neostore.relationshipgroupstore.db.id
neo4jdata/data/databases/system/neostore.relationshipgroupstore.degrees.db
neo4jdata/data/databases/system/neostore.relationshipstore.db
neo4jdata/data/databases/system/neostore.relationshipstore.db.id
neo4jdata/data/databases/system/neostore.relationshiptypestore.db
neo4jdata/data/databases/system/neostore.relationshiptypestore.db.id
neo4jdata/data/databases/system/neostore.relationshiptypestore.db.names
neo4jdata/data/databases/system/neostore.relationshiptypestore.db.names.id
neo4jdata/data/databases/system/neostore.schemastore.db
neo4jdata/data/databases/system/neostore.schemastore.db.id
neo4jdata/data/databases/system/schema/index/range-1.0/3/index-3
neo4jdata/data/databases/system/schema/index/range-1.0/4/index-4
neo4jdata/data/databases/system/schema/index/range-1.0/7/index-7
neo4jdata/data/databases/system/schema/index/range-1.0/8/index-8
neo4jdata/data/databases/system/schema/index/token-lookup-1.0/1/index-1
neo4jdata/data/databases/system/schema/index/token-lookup-1.0/2/index-2
neo4jdata/data/dbms/auth.ini
neo4jdata/data/transactions/neo4j/checkpoint.0
neo4jdata/data/transactions/neo4j/neostore.transaction.db.0
neo4jdata/data/transactions/system/checkpoint.0
neo4jdata/data/transactions/system/neostore.transaction.db.0
neo4jdata/logs/debug.log
neo4jdata/logs/http.log
neo4jdata/logs/neo4j.log
neo4jdata/logs/query.log
neo4jdata/logs/security.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Nuxt dev/build outputs
.output
.nuxt

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env.*
!.env.example